<h1>本の登録確認</h1><% @title = "本の登録確認" %>

<p>以下の内容で登録します。よろしければ登録ボタンを押してください。</p>

<%= render "/books/show" %>

<%= form_for(@collection, url: {action: "create"} ) do |f| %>

  <div class="field">
    <%= f.label :condition %>
 	<p>
 		<%= Array["汚れあり", "普通", "良い", "非常に良い", "ほぼ新品"][@collection.condition] %>
 	</p>
 	<%= f.hidden_field :condition, {value: @collection.condition} %>
  </div>
  <div class="field">
    <%= label_tag "その他状態" %>
 	<p>
 		<%= @collection.band ? "帯あり　" : "" %>
 		<%= @collection.sunburn ? "日焼け・変色　" : "" %>
 		<%= @collection.scratch ? "スレ・傷など　" : "" %>
 		<%= @collection.cigar ? "たばこ臭　" : "" %>
 		<%= @collection.pet ? "ペットを飼っている　" : "" %>
 		<%= @collection.mold ? "カビ臭　" : "" %>
 	</p>
 	<%= f.hidden_field :band, {value: @collection.band} %>
 	<%= f.hidden_field :sunburn, {value: @collection.sunburn} %>
 	<%= f.hidden_field :scratch, {value: @collection.scratch} %>
 	<%= f.hidden_field :cigar, {value: @collection.cigar} %>
 	<%= f.hidden_field :pet, {value: @collection.pet} %>
 	<%= f.hidden_field :mold, {value: @collection.mold} %>
  </div>

  <div class="field">
    <%= label_tag "サイズ" %>
    <p>
	    <%= f.label :height %> <%= @collection.height %> cm ×
	    <%= f.label :width %> <%= @collection.width %> cm ×
	    <%= f.label :depth %> <%= @collection.depth %> cm
    </p>
 	<%= f.hidden_field :height, {value: @collection.height} %>
 	<%= f.hidden_field :width, {value: @collection.width} %>
 	<%= f.hidden_field :depth, {value: @collection.depth} %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <p>
    	<%= @collection.weight %> g
    </p>
 	<%= f.hidden_field :depth, {value: @collection.depth} %>
  </div>

  <div class="field">
	<%= f.label :line %>
	<p>
 		<%= Array["5ページ未満", "5ページ以上10ページ未満", "10ページ以上"][@collection.line] %>
	</p>
 	<%= f.hidden_field :line, {value: @collection.line} %>
  </div>

  <div class="field">
	<%= f.label :broken %>
	<p>
 		<%= Array["5ページ未満", "5ページ以上10ページ未満", "10ページ以上"][@collection.broken] %>
	</p>
 	<%= f.hidden_field :broken, {value: @collection.broken} %>
  </div>

  <div class="field">
	<%= f.label :note %>
 	<p>
		<%= @collection.note %>
	</p>
 	<%= f.hidden_field :note, {value: @collection.note} %>
  </div>

  <%= f.hidden_field :book_id, {value: @book.id} %>
  <%= f.hidden_field :isbn, {value: @book.isbn} %>

  <div class="field">
    <%= f.submit value: "登録" %>
  </div>
<% end %>

<p><%= link_to "入力をやり直す", "/collections/new?id=" + @book.id.to_s + "&isbn=" + @book.isbn %></p>
