<h1>本の申請</h1><% @title = "本の申請" %>

<% if @message.present? %>
<p>
	<span class="strong warn"><%= @message %></span>
</p>
<p>
	<%= link_back %>
</p>

<% else %>
	<% if @upload_error.present? %>
	<p>
		<span class="strong warn"><%= @upload_error %>再度アップロードしてください。</span>
	</p>
	<% end %>
<p>
	<span class="strong"><%= @collection.member.nickname %></span> さんに本を申請します。<span class="strong">クリックポストから宛名ラベルを取得</span>し、<span class="strong">アップロードして申請を実行</span>してください。
</p>
<p>
	<span class="strong">1. </span><%= link_to "クリックポストへ", Property.find(1).clickpost_url, {target: :blank} %>
</p>
<%= form_tag({action: :request_collection}, multipart: true) do %>
  <div class="field">
    <span class="strong">2. </span><span>取得した宛名ラベルPDFをアップロード</span>
    <p>
	    <%= file_field_tag :data %>
    </p>
  </div>
  <%= hidden_field_tag :id, @collection.id %>
  <div class="field">
    <span class="strong">3. </span> <%= submit_tag "申請を実行する" %>
  </div>
<% end %>
<p>
	<%= link_to "申請をやめる", "/collections/member_list?id=" + @collection.book_id.to_s %>
</p>

<% @book = @collection.book %>
<%= render "/books/show" %>
<%= render "show" %>

<% end %>