<h1>本の編集</h1><% @title = "本の編集" %>

<% if @message.present? %>
<p class="strong warn">この本は編集できません。</p>
<% else %>
<p>本の情報を編集します。</p>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <p>入力エラーです。以下を確認してください。</p>
      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li class="warn"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% @book = @collection.book %>
<%= render "/books/show" %>

<% if @message.present? %>
	<%= render "show" %>
<% else %>
	<% @action = "update" %>
	<% @submit = "更新" %>
	<%= render "edit" %>
<% end %>

<p>
	<%= link_back %>
</p>
