<h1>マイページ</h1><% @title = "マイページ" %>

<div id="mypage_left">
	<div id="collection_summary_area">
		<dl>
			<dt class="larger">ホンダナに登録した本</dt>
			<dd class="large center"><%= @collections.size + @requested_collections.size + @completed_collections.size %>冊</dd>
		</dl>
		<p class="right">うち発送済みの本: <%= @completed_collections.size %>冊</p>
	</div>
	<div id="collection_area">
		<dl>
			<dt class="larger">ホンダナに出品中の本</dt>
			<dd>
				<% if @collections.empty? %>
					出品中の本はありません。
				<% else %>
					<%= render 'list' %>
				<% end %>
			</dd>
		</dl>
		<dl>
			<dt class="larger">発送した本</dt>
			<dd>
				<% @collections = @completed_collections %>
				<% if @collections.empty? %>
					発送した本はありません。
				<% else %>
					<%= render 'list' %>
				<% end %>
			</dd>
		</dl>
	</div>
</div>

<div id="mypage_right">
	<div id="point_summary_area">
		<dl>
			<dt class="larger">現在のブク数</dt>
			<dd class="large center"><%= session[:point] %>ブク</dd>
		</dl>
		<p class="right">使用したブク数: <%= @received_collections.size %>ブク</p>
	</div>
	<div id="point_area">
		<dl>
			<dt class="larger">お気に入り</dt>
			<dd>
				<% if @favorites.empty? %>
					お気に入りに登録がありません。
				<% else %>
<div class="booklist">
<% @favorites.each do |favorite| %>
	<div class="collection">
		<div>
			<%= link_to (image_tag "/books/show_image/" + favorite.book.isbn, alt: favorite.book.title), "/books/" + favorite.book_id.to_s  %>
		</div>
		<div>
			<p class="center">
				<%= link_to favorite.book.title, "/books/" + favorite.book.id.to_s  %><br>
				お気に入り追加日: <%= format_datetime favorite.create_date, :date %><br>
			<br>
				<%= link_to "お気に入りから削除", "/books/delete_favorite?id=" + favorite.book_id.to_s, data: { confirm: 'お気に入りから削除しますか?' }  %>
			</p>
		</div>
	</div>
<% end %>
</div>
				<% end %>
			</dd>
		</dl>
		<dl>
			<dt class="larger">受け取った本</dt>
			<dd>
				<% @collections = @received_collections %>
				<% if @collections.empty? %>
					受け取った本はありません。
				<% else %>
					<%= render 'list' %>
				<% end %>
			</dd>
		</dl>
	</div>
</div>
<% session[:return_path] = Array[request.fullpath] %>
