<h1>マイページ</h1><% @title = "マイページ" %>

<div id="mypage_left">
	<div id="collection_summary_area">
		<dl>
			<dt class="larger">ホンダナに登録した本</dt>
			<dd class="large center"><%= @collections.size %>冊</dd>
		</dl>
		<p class="right">発送済みの本: <%= @completed_collections.size %>冊</p>
	</div>
	<div id="collection_area">
		<dl>
			<dt class="larger">登録した本</dt>
			<dd>
				<% if @collections.empty? %>
					登録されている本はありません。
				<% else %>
					<%= render 'list' %>
				<% end %>
			</dd>
		</dl>
	</div>
</div>

<div id="mypage_right">
	<div id="point_summary_area">
		<dl>
			<dt class="larger">現在のブク数</dt>
			<dd class="large center"><%= session[:point] %>ブク</dd>
		</dl>
		<p class="right">使用したブク数: <%= @received_collections.size %>ブク</p>
	</div>
	<div id="point_area">
		<dl>
			<dt class="larger">お気に入り</dt>
			<dd>
				お気に入りに登録がありません。
			</dd>
		</dl>
		<dl>
			<dt class="larger">受け取った本</dt>
			<dd>
				受け取った本はありません。
			</dd>
		</dl>
	</div>
</div>
