<h1>本の詳細</h1><% @title = "本の詳細" %>

<% if @collection.member.id == session[:id] %>
<p>
	<%= link_to "出品情報を編集する", "/collections/edit"  %> | <%= link_to "出品を取り消す", "/collections/destroy" %> <%= link_back true %>
</p>
<% else %>
<div class="field">
	<label>出品者</label>
	<p>
		<span  class="strong"><%= @collection.member.nickname %></span> さん
	</p>
</div>
<% end %>

<% @book = @collection.book %>
<%= render "/books/show" %>
<%= render "show" %>

<% if @collection.member.id == session[:id] %>
<p>
	<%= link_to "出品情報を編集する", "/collections/edit"  %> | <%= link_to "出品を取り消す", "/collections/destroy" %><%= link_back true %>
</p>
<% else %>
<p>
	<%= link_to "交換申請する", "/collections/confirm_request?id=" + @collection.id.to_s %><%= link_back true %>
</p>
<% end %>


<%
	if session[:return_path].blank?
	  session[:return_path] = Array.new(request.fullpath)
	elsif session[:return_path].present? && session[:return_path].last.start_with?("/books/") && !session[:return_path].last.start_with?("/books/search")
	else
	  session[:return_path].push(request.fullpath)
	end
%>
