<h1>本の詳細</h1><% @title = "本の詳細" %>

<% if @collection.state == 0 %>
	<% if @collection.member.id == session[:id] %>
		<p>
			この本は <span class="strong">あなた</span> が現在出品中です。
		</p>
		<p>
			<%= link_to "出品情報を編集する", "/collections/edit?id=" + @collection.id.to_s  %> |
			<%= link_to "出品を取り消す", "/collections/destroy?id=" + @collection.id.to_s, data: { confirm: "出品を取り消しますか？\n注意！ 再度出品する場合は登録からやり直す必要があります。" } %>
			<%= link_back true %>
		</p>
	<% else %>
		<p>
			この本は <span class="strong"><%= @collection.member.nickname %></span> さんが現在出品中です。
		</p>
		<p>
			<%= link_to "本を申請する", "/collections/confirm_request?id=" + @collection.id.to_s  %>
			<%= link_back true %>
		</p>
	<% end %>
<% elsif @collection.state == 1 %>
	<% if @collection.member.id == session[:id] %>
		<p>
			この本は <span class="strong">あなた</span> から <span class="strong"><%= @request_member.nickname %></span> さんへの発送待ちです。
		</p>
		<p>
			<span class="strong">1. </span><%= link_to "宛名ラベルのダウンロード", "/collections/download_label?id=" + @collection.id.to_s %>
		</p>
		<p>
			<span class="strong">2. </span>本を梱包し、宛名ラベルを貼り付けて発送します。
		</p>
		<%= form_tag({action: :complete_sending}) do %>
			<%= hidden_field_tag :id, @collection.id %>
		<p>
			<span class="strong">3. </span> <%= submit_tag "発送完了" %>
		</p>
		<% end %>
	<% elsif @collection.request_member_id == session[:id] %>
		<p>
			この本は <span class="strong"><%= @collection.member.nickname %></span> さんから <span class="strong">あなた</span> への発送待ちです。
		</p>
	<% else %>
		<p>
			<span class="strong">この本は既に他の人が申請を行いました。</span>
		</p>
	<% end %>
	<p>
	<%= link_back %>
	</p>
<% elsif @collection.state == 8 %>
	<% if @collection.member.id == session[:id] %>
		<p>
			この本は <span class="strong">あなた</span> から <span class="strong"><%= @request_member.nickname %></span> さんへ発送済みです。
		</p>
		<p>
			発送日: <span class="strong"><%= format_datetime @collection.send_date, :date %></span>
		</p>
	<% elsif @collection.request_member_id == session[:id] %>
		<p>
			この本は <span class="strong"><%= @collection.member.nickname %></span> さんから <span class="strong">あなた</span> へ発送済みです。
		</p>
		<p>
			発送日: <span class="strong"><%= format_datetime @collection.send_date, :date %></span>
		</p>
	<% else %>
		<p>
			この本は既に他の人により申請が行われました。
		</p>
	<% end %>
	<p>
	<%= link_back %>
	</p>
<% else %>
	<p>
		この本は出品が取り消されています。
	</p>
	<p>
	<%= link_back %>
	</p>
<% end %>

<% @book = @collection.book %>
<%= render "/books/show" %>
<%= render "show" %>

<%
	if session[:return_path].blank?
	  session[:return_path] = Array[request.fullpath]
	elsif session[:return_path].present? && session[:return_path].last.start_with?("/books/") && !session[:return_path].last.start_with?("/books/search")
	else
	  session[:return_path].push(request.fullpath)
	end
%>
