<h1>本の詳細</h1><% @title = "本の詳細" %>

<% if @collection.member.id == session[:id] %>
<p>
	<%= link_to "出品情報を編集する", "/collections/edit"  %> | <%= link_to "出品を取り消す", "/collections/destroy" %> | <%= link_to "戻る", "" %>
</p>
<% else %>
<div class="field">
	<label>出品者</label>
	<p>
		<span  class="strong"><%= @collection.member.nickname %></span> さん
	</p>
</div>
<p>
	<%= link_to "交換申請する", "/collections/request" %> | <%= link_to "戻る", "" %>
</p>
<% end %>

<div class="book_img">
  <div class="field">
	<%= image_tag "/books/show_image/" + @collection.book.isbn, alt: @collection.book.title %>
  </div>
</div>

<div class="book">
  <div class="field">
    <%= label_tag :title, "書名" %>
    <p>
    	<%= @collection.book.title %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :author, "著者名" %>
    <p>
    	<%= @collection.book.author %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :publisher, "出版社" %>
    <p>
    	<%= @collection.book.publisher %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :language, "言語" %>
    <p>
    	<%= @collection.book.language %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :sale_date, "発売日" %>
    <p>
    	<%= @collection.book.sale_date %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :isbn, "ISBNコード" %>
    <p>
    	<%= @collection.book.isbn %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :description, "内容" %>
    <p>
    	<%= @collection.book.description %>
    </p>
  </div>
</div>

  <div class="field">
    <%= label_tag :condition, "本の状態" %>
 	<p>
 		<%= Array["汚れあり", "普通", "良い", "非常に良い", "ほぼ新品"][@collection.condition] %>
 	</p>
  </div>
  <div class="field">
    <%= label_tag "その他状態" %>
 	<p>
 		<%= @collection.band ? "帯あり　" : "" %>
 		<%= @collection.sunburn ? "日焼け・変色　" : "" %>
 		<%= @collection.scratch ? "スレ・傷など　" : "" %>
 		<%= @collection.cigar ? "たばこ臭　" : "" %>
 		<%= @collection.pet ? "ペットを飼っている　" : "" %>
 		<%= @collection.mold ? "カビ臭　" : "" %>
 	</p>
  </div>

  <div class="field">
    <%= label_tag "サイズ" %>
    <p>
	    <%= label_tag :height, "縦" %> <%= @collection.height %> cm ×
	    <%= label_tag :width, "横" %> <%= @collection.width %> cm ×
	    <%= label_tag :depth, "厚さ" %> <%= @collection.depth %> cm
    </p>
  </div>

  <div class="field">
    <%= label_tag :weight, "重さ" %>
    <p>
    	<%= @collection.weight %> g
    </p>
  </div>

  <div class="field">
	<%= label_tag :line, "書き込み線" %>
	<p>
 		<%= Array["5ページ未満", "5ページ以上10ページ未満", "10ページ以上"][@collection.line] %>
	</p>
  </div>

  <div class="field">
	<%= label_tag :broken, "ページの折れ" %>
	<p>
 		<%= Array["5ページ未満", "5ページ以上10ページ未満", "10ページ以上"][@collection.broken] %>
	</p>
  </div>

  <div class="field">
	<%= label_tag :note, "備考" %>
 	<p>
		<%= @collection.note %>
	</p>
  </div>

  <div class="field">
	<%= label_tag :regist_date, "登録日" %>
 	<p>
		<%= format_datetime @collection.regist_date, :date %>
	</p>
  </div>

<% if @collection.member.id == session[:id] %>
<p>
	<%= link_to "出品情報を編集する", "/collections/edit"  %> | <%= link_to "出品を取り消す", "/collections/destroy" %> | <%= link_to "戻る", "" %>
</p>
<% else %>
<p>
	<%= link_to "交換申請する", "/collections/request" %> | <%= link_to "戻る", "" %>
</p>
<% end %>

