<%= form_for(@genre) do |f| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% @genre.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="name">名前</label>
    <p>
    <%= f.text_field :name %>
    </p>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <p>
    <%= f.text_area :description, cols: 40, rows: 4 %>
    </p>
  </div>
  <div class="field">
    <%= f.label :sort %><br>
    <p>
    <%= f.number_field :sort %>
    </p>
  </div>
  <div class="field">
    <%= f.submit "登録" %>
  </div>
<% end %>
