<p id="notice"><%= notice %></p>

<div class="field">
  <label for="name">名前</label>
  <p><%= @genre.name %></p>
</div>

<div class="field">
  <%= label_tag :content, "内容" %>
  <p><%= @genre.description %></p>
</div>

<div class="field">
  <%= label_tag :sort, "表示順" %>
  <p><%= @genre.sort %></p>
</div>

<p><%= link_to '編集', edit_genre_path(@genre) %> | <%= link_to '戻る', genres_path %></p>
