<%= form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notice_date %><br>
    <p>
    	<%= f.datetime_select :notice_date, use_month_numbers: true %><br />
 	 	トップページに時刻は表示されませんが、同一日に新しい順に表示するために使用されます。
 	</p>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <p>
	    <%= f.text_area :content, cols: 40, rows: 4 %><br />
	    改行は空白として表示されます。
 	</p>
  </div>
  <div class="actions">
    <p><%= f.submit value: "登録" %></p>
  </div>
<% end %>
