<h1 id="index">FAQ（準備中）</h1><% @title = "FAQ よくある質問" %>
<div class="faqmenu">
<ul>
<li><%= link_to "よくある質問", "/information/faq"  %></li>
<li><%= link_to "ホンダナの基本", "/information/faq_kihon"  %></li>
<li><%= link_to "会員情報の登録・変更について", "/information/faq_member"  %></li>
<li><%= link_to "蔵書の登録について", "/information/faq_book"  %></li>
<li><%= link_to "本をさがす・交換申請をする", "/information/faq_search"  %></li>
<li><%= link_to "（出品者）取引について", "/information/faq_syuppin"  %></li>
<li><%= link_to "（購入者）取引について", "/information/faq_kounyu"  %></li>
<li><%= link_to "取引全般について", "/information/faq_zenpan"  %></li>
<li><%= link_to "配送・決済について", "/information/faq_haiso"  %></li>
<li><%= link_to "ブクについて", "/information/faq_buku"  %></li>
</div>

<h2>【よくある質問】</h2>
<ul id="faq">
	<li>Q1.　<a href="#1">「発送済み」通知がきたのに本が届きません</a></li>
	<li>Q2.　<a href="#2">送った本が戻ってきました</a></li>
	<li>Q3.　<a href="#3">「Yahoo！ウォレット登録必須」とありますが、クレジットカードを持っていません</a></li>
	<li>Q4.　<a href="#4">プリンターを持っていないので宛名ラベルの印刷ができません</a></li>
	<li>Q5.　<a href="#5">宛名ラベルの印刷がうまくできません</a></li>
	<li>Q6.　<a href="#6">宛名ラベル印刷はカラーでなくてはいけませんか？</a></li>
	<li>Q7.　<a href="#7">本がいつ届くのかを知りたいです</a></li>
	<li>Q8.　<a href="#8">メールが届きません</a></li>
	<li>Q9.　<a href="#9">「本の交換申請」を受け取りましたが、指定された本を送ることができません</a></li>
	<li>Q10. <a href="#10">「本の交換申請」を送信後にキャンセルはできますか</a></li>
	<li>Q11. <a href="#11">宛名ラベルを送信したのに本が発送されません</a></li>
	<li>Q12. <a href="#12">ほしい本とは別の本が届きました</a></li>
	<li>Q13. <a href="#13">ユーザー同士での直接的な取引はできますか</a></li>
</ul>
<br><br>
<div id="1">
	<h2 class="faq"> Q1. 「発送済み」通知がきたのに本が届きません</h2>
A.　通知がきたのに本が届かない場合、以下の原因が考えられます。<br>
　・本がポストに届けられている<br>
　（クリックポストは荷物が対面で配達されるのではなく、ポストに届けられる配送サービスです）<br>
　・住所違いにより返送されている<br>
　・出品者が間違って「発送済み」通知をした<br><br>
　発送されたかはクリックポストのホームページで確認できます。<br>
　「クリックポストホームページ>ログイン>発送履歴一覧」から荷物の状態をご確認ください。<br>
発送通知から10日以上経過しても本が届かない場合は<br>
<%= link_to "お問い合わせ", "/information/inquiry"  %>からホンダナへ『本が届かない』という旨と取引相手のニックネームを合わせてご連絡ください。<br><br>
<div class="right"><div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div></div>
</div>

<div id="2">
	<h2 class="faq">Q2.　送った本が戻ってきました</h2>
A.　以下の原因が考えられます。<br>
<strong>・クリックポスト宛名ラベルの配送先住所が間違っている</strong><br>
「お問い合わせ」からホンダナへ『送った本が返送された』という旨と<br>
取引相手のニックネームを合わせてご連絡ください。<br>
住所を間違えてしまった場合は決済処理が完了しているため送料は戻ってきませんのでご注意ください。<br><br>

<strong>・サイズ、重量がオーバーしていた</strong><br>
クリックポストで送ることが出来るのは<br>
長辺34cm以下、短辺25cm以下、厚さ3cm以下、重量1kg以下のものであるため<br>
このサイズと重量をオーバーしているものが発送された場合には戻ってきます。<br>
発送する際には十分にご確認ください。<br>
サイズ、重量がオーバーしていたものは決済処理が行なわれていないので送料については損をすることはありません。<br><br>

<strong>・追跡バーコードが読み取れなかった</strong><br>
宛名ラベルを貼付ける際に、のりをつけすぎて波打ってしまったこと等で<br>
バーコードがうまく読み取れないことがあります。<br>
追跡バーコードが読み取れなかった場合は決済処理が行なわれていないので送料については損をすることはありません。<br><br>

<strong>・二次元コードを読み取れなかった</strong><br>
追跡バーコードと同様の原因で読み取れない場合があります。<br>
二次元バーコードが読み取れなかった場合は決済処理が行なわれていないので送料については損をすることはありません。<br><br>

また、宛名ラベルは有効期限が7日と決まっているため印刷してこの期間が過ぎてから送った場合には戻ってきます。<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>

<div id="3">
	<h2 class="faq">Q3.　「Yahoo！ウォレット登録必須」とありますが、クレジットカードを持っていません</h2>
A.　クレジットカード以外の方法として「Yahoo! JAPAN指定銀行」でのお支払いができます。<br>
Yahoo!ウォレットのお支払い方法としてご登録いただける銀行のことです。<br>
現在ご利用いただける銀行は、ジャパンネット銀行、みずほ銀行、三菱東京UFJ銀行、楽天銀行です。<br>

	<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>

<div id="4">
	<h2 class="faq">Q4.　プリンターを持っていないので宛名ラベルの印刷ができません</h2>
A.　以下の方法で印刷ができます。<br>
<strong>［コンビニエンスストアで印刷する］</strong><br>
自宅にプリンターがなくても、セブンイレブン・ローソン・ファミリーマート・デイリーヤマザキ・サークルKサンクス<br>といったコンビニにはプリンターがあるのでこちらで宛名ラベルを印刷することができます。<br>
コンビニで印刷する手順は以下の通りです。<br><br>

1.クリックポストのWEBサイトで宛名ラベルをPDFファイルとして作成する<br>
ここまでは通常通り自宅にプリンターがある人と同じように作成します。<br>
2.PDFファイルをUSBメモリーに保存する<br>
メニューバー上の「ファイル>名前をつけて保存>USBメモリー」<br>
PDFファイルをUSBメモリーに保存します。<br>
3.PDFファイルをコンビニに持って行きプリンターで印刷する<br>
コンビニで印刷する際の料金はA4白黒だと1枚10円、A4カラーだと1枚50円です。<br>
（宛名ラベルは白黒印刷でも発送可能）<br><br>

コンビニではUSBメモリーだけでなく、micro SD、mini SD、SDカード、メモリースティックに保存して持って行っても印刷することが出来ます。<br><br>

<strong>［iPhone、Android（スマートフォン）で印刷する］</strong><br>
スマホの場合はPDF閲覧用のアプリをダウンロードしておく必要があり<br>
iPhoneのPDF閲覧用のアプリには「iBooks」（無料）「Adobe Reader」（無料）「Good Reader」（有料）などがあります。<br><br>

Wi-Fi通信でPDFファイルをプリンターに送信することが出来るアプリ「PrintSmash」があるので<br>上記で保存したものをこちらのアプリで送信すればクリックポストの宛名ラベルを印刷することが出来ます。<br>
（ポップアップブロックの設定がオンになっていると、クリックポストのWEBサイトの決済画面（小さなポップアップ画面）が<br>
表示されないため、PDF閲覧用のアプリをダウンロードしておくのと同様に事前準備としてオフにしておく必要があります）<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>

<div id="5">
	<h2 class="faq">Q5.　宛名ラベルの印刷がうまくできません</h2>
A.　以下の方法で印刷ができます。<br>
・住所の部分が空白の状態で印刷される場合<br>
→<br><br>

・宛名ラベルのPDFデータが開けない場合<br>
→<br><br>
	<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>

<div id="6">
	<h2 class="faq">Q6.　宛名ラベル印刷はカラーでなくてはいけませんか？</h2>
A.　白黒でも発送可能です。インクの節約には白黒印刷をおすすめいたします。<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>


<div id="7">
	<h2 class="faq">Q7.　本がいつ届くのかを知りたいです</h2>
A.　クリックポストのホームページにログインし、「発送履歴一覧」の荷物の状態をご確認ください。<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>


<div id="8">
	<h2 class="faq">Q8.　メールが届きません</h2>
A.　「プロフィール」からホンダナにご登録のメールアドレスにお間違いがないかご確認ください。<br>
もしお間違いの場合は、「プロフィール>プロフィール変更」から正しいメールアドレスを入力してメールアドレスの更新を行ってください。<br>
間違いのない場合は、ホンダナからのメールが迷惑メールとして認識されている可能性がございます。迷惑メールの設定をご確認ください。<br><br>

それでもメールが届かない場合は、<%= link_to "お問い合わせ", "/information/inquiry"  %>よりご連絡ください。<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>


<div id="9">
	<h2 class="faq">Q9.　「本の交換申請」を受け取りましたが、指定された本を送ることができません</h2>
A.　<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>


<div id="10">
	<h2 class="faq">Q10.　「本の交換申請」を送信後にキャンセルはできますか</h2>
A.　<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>


<div id="11">
	<h2 class="faq">Q11.　宛名ラベルを送信したのに本が発送されません</h2>
A.　<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>


<div id="12">
	<h2 class="faq">Q12.　ほしい本とは別の本が届きました</h2>
A.　<%= link_to "お問い合わせ", "/information/inquiry"  %>からホンダナへ『別の本が届いた』という旨と取引相手のニックネームを合わせてご連絡ください。
<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>


<div id="13">
	<h2 class="faq">Q13.　ユーザー同士での直接的な取引はできますか</h2>
A.　ホンダナでは、ホンダナを通さずに直接的な取引をすることは利用規約で禁じています。<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>