<h1 id="index">FAQ（準備中）</h1><% @title = "FAQ 蔵書の登録について" %>
<div class="faqmenu">
<ul>
<li><%= link_to "よくある質問", "/information/faq"  %></li>
<li><%= link_to "ホンダナの基本", "/information/faq_kihon"  %></li>
<li><%= link_to "会員情報の登録・変更について", "/information/faq_member"  %></li>
<li><%= link_to "蔵書の登録について", "/information/faq_book"  %></li>
<li><%= link_to "本をさがす・交換申請をする", "/information/faq_search"  %></li>
<li><%= link_to "（出品者）取引について", "/information/faq_syuppin"  %></li>
<li><%= link_to "（購入者）取引について", "/information/faq_kounyu"  %></li>
<li><%= link_to "取引全般について", "/information/faq_zenpan"  %></li>
<li><%= link_to "配送・決済について", "/information/faq_haiso"  %></li>
<li><%= link_to "ブクについて", "/information/faq_buku"  %></li>
</div>

<h2>【蔵書の登録について】</h2>
<ul id="faq">
<p>［～について］</p>
	<li>Q1.　<a href="#1">ーーー</a></li>
	<li>Q2.　<a href="#2">ーーー</a></li>
	<li>Q3.　<a href="#3">ーーー</a></li>
	<li>Q4.　<a href="#4">ーーー</a></li>
</ul>
<br><br>
<div id="1">
	<h2 class="faq"> Q1. ーーー</h2>
A.<%= link_to "お問い合わせ", "/information/inquiry"  %>ください。<br><br>
<div class="right"><div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div></div>
</div>

<div id="2">
	<h2 class="faq"> Q2. ーーー</h2>
A.<%= link_to "お問い合わせ", "/information/inquiry"  %>ください。<br><br>
<div class="right"><div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div></div>
</div>

<div id="3">
	<h2 class="faq"> Q3. ーーー</h2>
A.<%= link_to "お問い合わせ", "/information/inquiry"  %>ください。<br><br>
<div class="right"><div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div></div>
</div>

<div id="4">
	<h2 class="faq"> Q4. ーーー</h2>
A.<%= link_to "お問い合わせ", "/information/inquiry"  %>ください。<br><br>
<div class="right"><div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div></div>
</div>