<h1 id="index">FAQ（準備中）</h1><% @title = "FAQ 配送・決済について" %>
<div class="faqmenu">
<ul>
<li><%= link_to "よくある質問", "/information/faq"  %></li>
<li><%= link_to "ホンダナの基本", "/information/faq_kihon"  %></li>
<li><%= link_to "会員情報の登録・変更について", "/information/faq_member"  %></li>
<li><%= link_to "蔵書の登録について", "/information/faq_book"  %></li>
<li><%= link_to "本をさがす・交換申請をする", "/information/faq_search"  %></li>
<li><%= link_to "（出品者）取引について", "/information/faq_syuppin"  %></li>
<li><%= link_to "（購入者）取引について", "/information/faq_kounyu"  %></li>
<li><%= link_to "取引全般について", "/information/faq_zenpan"  %></li>
<li><%= link_to "配送・決済について", "/information/faq_haiso"  %></li>
<li><%= link_to "ブクについて", "/information/faq_buku"  %></li>
</div>

<h2>【配送・決済について】</h2>
<ul id="faq">
	<li>Q1.　<a href="#1">クリックポストでの決済時にエラーが起き、支払い手続きができません</a></li>
	<li>Q2.　<a href="#2">ーーー</a></li>
	<li>Q3.　<a href="#3">ーーー</a></li>
	<li>Q4.　<a href="#4">ーーー</a></li>
</ul>
<br><br>
<div id="1">
	<h2 class="faq"> Q1. クリックポストでの決済時にエラーが起き、支払い手続きができません</h2>
A.エラーの原因として「ポップアップブロック」が有効になっている可能性が考えられます。<br>
（ポップアップブロックとは、ホームページ閲覧中に表示される小さな別画面（ポップアップウィンドウ）が勝手に表示されることを防ぐ機能です）<br>
インターネットを閲覧する画面（Internet Explorer）の設定を行なってください。<br><br>

<strong>［ポップアップブロックを有効にする］</strong><br>
方法1.「ツール>ポップアップブロック>ポップアップブロックを無効にする」<br>
方法2.「ツール>インターネットオプション>プライバシー>ポップアップブロックを有効にする」のチェックを外す<br><br>

メニューに「ツール」が表示されていない場合はキーボードの「Alt」をインターネットが表示されている画面を開いたまま押すと表示されます。<br><br>

<strong>［Internet Explorer以外］</strong><br>
Google Chrome：インターネットを開いた状態で、右上の横線が三本入った「Menu>設定>詳細設定を表示>コンテンツの設定>すべてのサイトに対してポップアップ表示を許可する」をオン<br><br>

Mac（safari）：左上のメニューの「Safari>環境設定>セキュリティ>ポップアップウィンドウを開かない」のチェックを外す<br><br>

iPhone：ホーム画面>「設定>safari>ポップアップブロックオフ」<br><br>

iPad：ホーム画面>「設定>safari>ポップアップブロックオフ」<br><br>

Galaxy：インターネットを開いた状態で、右上の「Menu>設定>ポップアップブロックのチェックを外す」<br><br>

Xperia：インターネットを開いた状態で、右上の「Menu>設定>高度な設定>ポップアップブロックのチェックを外す」<br><br>
<div class="right"><div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div></div>
</div>