<h1 id="index">FAQ（準備中）</h1><% @title = "FAQ ホンダナの基本" %>
<div class="faqmenu">
<ul>
<li><%= link_to "よくある質問", "/information/faq"  %></li>
<li><%= link_to "ホンダナの基本", "/information/faq_kihon"  %></li>
<li><%= link_to "会員情報の登録・変更について", "/information/faq_member"  %></li>
<li><%= link_to "蔵書の登録について", "/information/faq_book"  %></li>
<li><%= link_to "本をさがす・交換申請をする", "/information/faq_search"  %></li>
<li><%= link_to "（出品者）取引について", "/information/faq_syuppin"  %></li>
<li><%= link_to "（購入者）取引について", "/information/faq_kounyu"  %></li>
<li><%= link_to "取引全般について", "/information/faq_zenpan"  %></li>
<li><%= link_to "配送・決済について", "/information/faq_haiso"  %></li>
<li><%= link_to "ブクについて", "/information/faq_buku"  %></li>
</div>

<h2>【ホンダナの基本】</h2>
<ul id="faq">
<p>［ホンダナについて］</p>
	<li>Q1.　<a href="#1">ホンダナってどんなサービスですか？</a></li>
	<li>Q2.　<a href="#2">ホンダナを使うのにお金はかかりますか？</a></li>
	<li>Q3.　<a href="#3">ブクってなんですか？</a></li>
	<li>Q4.　<a href="#4">ホンダナの利用規約は？</a></li>
<p>［ホンダナのマナー・ルール］</p>
	<li>Q5.　<a href="#5">ホンダナのマナーについて</a></li>
	<li>Q6.　<a href="#6">ホンダナの禁止行為について</a></li>
	<li>Q7.　<a href="#7">ホンダナで出品が禁止されているものについて</a></li>
</ul>
<br><br>
<div id="1">
	<h2 class="faq"> Q1. ホンダナってどんなサービスですか？</h2>
A.　ホンダナは、本が好きな人同士で簡単に本を交換することができるサービスです。<br>
蔵書が多くて保管に困っている人は、ホンダナに本を登録することで、次にその本が読みたい人に本を届けることができます。<br>
本をたくさん読みたい人はどこよりも安くたくさん本が手に入ります。<br><br>
<div class="right"><div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div></div>
</div>

<div id="2">
	<h2 class="faq">Q2.　ホンダナを使うのにお金はかかりますか？</h2>
A.　現在のベータ版では料金はかかりません。本の送料のみをお支払い頂きます。<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>

<div id="3">
	<h2 class="faq">Q3.　ブクってなんですか？</h2>
A.　ブクとは、ホンダナに本を登録するともらえるポイントのことです。<br>
1冊登録すると1ブクがもらえます。<br>
また、ほしい本を見つけたら自分のブクとほしい本を交換することができます。<br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>

<div id="4">
	<h2 class="faq">Q4.　ホンダナの利用規約は？</h2>
A.　<%= link_to "こちら", "/information/term"  %>をご覧ください<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>

<div id="5">
	<h2 class="faq">Q5.　ホンダナのマナーについて</h2>
A.<br>
・交換申請を受けたら放置しない<br>
・追跡番号がある場合は入力する<br>
・登録する前に本の状態を確認する<br>
・交換申請をする前にプロフィールを確認する<br>
・発送通知、受取完了通知はすぐに行う<br>
・失礼な言葉づかいをしない<br>
・クリックポスト以外の方法で発送しない<br><br>
	<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>

<div id="6">
	<h2 class="faq">Q6.　ホンダナの禁止行為について</h2>
A.　<%= link_to "禁止行為リスト", "/information/prohibitions"  %><br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>


<div id="7">
	<h2 class="faq">Q7.　ホンダナで出品が禁止されているものについて</h2>
A.<br>
・登録した本の類似品、偽造品、レプリカ商品<br>
・第三者の知的財産権を侵害しているもの<br>
・法令に違反している商品<br>
・公序良俗に反するもの<br>
・金券・チケットなど<br>
・その他の禁止されている商品<br><br>
<div class="right"><div class="right"><a class="button" href="#index">▲ Top</a></div></div>
</div>