<h1>使いかた</h1><% @title = "使いかた｜クリックポストで宛名ラベルを作成する" %>
<% @keywords = "ほんだな,本棚,使い方,利用方法" %>
<% @description = "ホンダナサービスの使い方です" %>
<div id="content">
<h2>クリックポストで宛名ラベルを作成する</h2>
<p class="chapter">&#10102;クリックポストのサイトへ移動します。</p>
<p><%= (image_tag 'guide_02_04.jpg', alt: '宛名ラベルを作成する1',class: 'guide')  %></p>
<p class="clearLeft"></p>
<p class="chapter">&#10103; 「いますぐクリックポストを利用する」をクリック。</p>
<p><%= (image_tag 'guide_03_01.jpg', alt: '宛名ラベルを作成する2',class: 'guide')  %></p>

<p class="chapter">&#10104; 「Yahoo!JAPAN IDでログイン」をクリック。</p>
<p><%= (image_tag 'guide_03_02.jpg', alt: '宛名ラベルを作成する3',class: 'guide')  %></p>

<p class="chapter">&#10105; 「同意する」をクリック。（クリックポストにログインします）</p>
<p><%= (image_tag 'guide_03_03.jpg', alt: '宛名ラベルを作成する4',class: 'guide')  %></p>

<p class="chapter">&#10106; 左上の「新規発送」をクリック。
<p><%= (image_tag 'guide_03_04.jpg', alt: '宛名ラベルを作成する5',class: 'guide')  %></p>


<p class="chapter">&#10107; 自分の住所・氏名等の必要な情報を入力してください。
<p><%= (image_tag 'guide_03_05.jpg', alt: '宛名ラベルを作成する6',class: 'guide')  %></p>


<p class="chapter">&#10108;内容を確認し、「Yahoo! ウォレットで決済する」をクリック。<br>
（先にYahoo! ウォレットでクレジットカードか口座を指定していただく必要があります）</p>
<p><%= (image_tag 'guide_03_06.jpg', alt: '宛名ラベルを作成する7',class: 'guide')  %></p>

<p class="chapter">&#10109;決済手続きを行ないます。<br>
<p><%= (image_tag 'guide_03_07.jpg', alt: '宛名ラベルを作成する8',class: 'guide')  %></p>

<p class="chapter">&#10110; 「決済確定」ボタンをクリックして手続きは完了です。<br>
<p><%= (image_tag 'guide_03_08.jpg', alt: '宛名ラベルを作成する9',class: 'guide')  %></p>

<p><%= (image_tag 'guide_03_09.jpg', alt: '本の交換申請6',class: 'hidari')  %></p>
<p class="chapter">&#10111;自分の住所宛の宛名ラベルができました。</p>
<p class="clearLeft"></p>

</div>
<div id="sidebar">
<ul class="menu_guide" id="list_guide">
<li><%= link_to "1. 本の登録の仕方", "/information/guide"  %></li>
<li><%= link_to "2. 本とブクの交換申請の仕方", "/information/guide_02"  %></li>
<li><%= link_to "3. クリックポストで宛名ラベルを作成する", "/information/guide_03"  %></li>
<li><%= link_to "4. 交換申請の受け付け＆宛名ラベルを印刷する", "/information/guide_04"  %></li>
<li><%= link_to "5. 梱包＆発送する", "/information/guide_05"  %></li>
<li><%= link_to "6. 本を受け取る＆評価する", "/information/guide_06"  %></li>
</ul>
</div>
