<h1>使いかた</h1><% @title = "使いかた" %>
<p><%= link_to "1. 本の登録の仕方", "/touroku.pdf"  %></p>
<p><%= link_to "2. 本とブクの交換申請の仕方", "/koukan_shinsei.pdf"  %></p>
<p><%= link_to "3. クリックポストで宛名ラベルを作成する", "/atena.pdf"  %></p>
<p><%= link_to "4. 交換申請の受け付け＆宛名ラベルを印刷する", "/shinsei_uketuke.pdf"  %></p>
<p><%= link_to "5. 梱包＆発送する", "/konpou_hassou.pdf"  %></p>
<p><%= link_to "6. 本を受け取る", "/uketori.pdf"  %></p>
