<h1>使いかた</h1><% @title = "使いかた｜本の登録の仕方" %>
<% @keywords = "ほんだな,本棚,使い方,利用方法" %>
<% @description = "ホンダナサービスの使い方です" %>
<div id="content">
<h2>本の登録の仕方</h2>
<p><%= (image_tag 'guide_book.jpg', alt: '本の登録1',class: 'hidari')  %></p>
<p class="chapter">&#10102;まず、自分の蔵書から交換しても良い本をえらびます。<br>
ここでは、読み終わったこちらの本を登録してみます。</p>
<p class="clearLeft"></p>
<p class="chapter">&#10103;タイトル・著者名・ISBNコード等で本を検索。</p>
<p><%= (image_tag 'guide_01_01.jpg', alt: '本の登録2',class: 'guide')  %></p>

<p class="chapter">&#10104;検索結果の一覧から本を探します。</p>
<p><%= (image_tag 'guide_01_02.jpg', alt: '本の登録3',class: 'guide')  %></p>

<p class="chapter">&#10105;本のページに移動し、状態・備考欄等を入力。</p>
<p><%= (image_tag 'guide_01_03.jpg', alt: '本の登録4',class: 'guide')  %></p>

<p class="chapter">&#10106;内容を確認して「登録」をクリック。</p>
<p><%= (image_tag 'guide_01_04.jpg', alt: '本の登録5',class: 'guide')  %></p>

<p class="chapter">&#10107;本が登録されました。
登録1冊につき1ブクが加算されます。</p>
<p><%= (image_tag 'guide_01_05.jpg', alt: '本の登録6',class: 'guide')  %></p>


</div>
<div id="sidebar">
<ul class="menu_guide" id="list_guide">
<li><%= link_to "1. 本の登録の仕方", "/information/guide"  %></li>
<li><%= link_to "2. 本とブクの交換申請の仕方", "/information/guide_02"  %></li>
<li><%= link_to "3. クリックポストで宛名ラベルを作成する", "/information/guide_03"  %></li>
<li><%= link_to "4. 交換申請の受け付け＆宛名ラベルを印刷する", "/information/guide_04"  %></li>
<li><%= link_to "5. 梱包＆発送する", "/information/guide_05"  %></li>
<li><%= link_to "6. 本を受け取る＆評価する", "/information/guide_06"  %></li>
</ul>
</div>
