<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ホンダナ | みんなで作る本の交換プラットフォーム</title>
	<meta name="keywords" content="ほんだな,本棚,本の交換,本の整理" >
	<meta name="description" content="読みたい本を探している人と その本を持ってる＆整理したい人がブク（ポイント）を介して交換できる本のシェアリングサービスです。">
	<link href="/stylesheets/top.css" media="all" rel="stylesheet" />
	<link href="/stylesheets/jquery.bxslider.css" media="all" rel="stylesheet" />
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery.bxslider.js"></script>
	<script src="/javascripts/top.js"></script>
	<%= csrf_meta_tags %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65966232-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>


<div id="header">
<h1><%= link_to (image_tag 'logo_alpha.gif', alt: 'ホンダナトップページへ'), "/"  %>
<div id="menu">
<div id="searchform">
			<%= form_tag({controller: :books, action: :search}, method: :get) do %>
		    	<%= text_field_tag :keyword,@keyword, size: "15", maxlength: "20", placeholder: "著者名・キーワードで検索" %>
			    <%= image_submit_tag("search.png",id:'searchBtn') %>
				<%= link_to "詳細検索", "/books/search_edit" ,id:'search' %>
			<% end %>
			<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
		</div>


<div id="globalnavi">
<ul>
<% if session[:id].blank? %>
<li><%= link_to  (image_tag 'howto.gif', alt: '使いかた'), "/information/guide"  %></li>
<!-- <li><%= link_to  (image_tag 'member_free.gif', alt: '会員登録',class: 'free' ), "/members/new" %></li> -->
<li><%= link_to (image_tag 'login.gif', alt: 'ログイン'), "/members/login"  %></li>
					<% else %>
					<% if session[:login_id] == "spica" %>
					<li class="kanri"><%= link_to "[管理者メニュー]", "/information/admin"  %></li>
					<% end %>
					
					<li class="welcome">ようこそ <span class="strong"><%= session[:nickname] %></span> さん
					現在 <span class="strong"><%= session[:point] %></span> ブク</li>

					<li><%= link_to "[評価を見る]", "/members/evaluation"  %></li>
					<li><%= link_to  (image_tag 'howto.gif', alt: '使いかた'), "/information/guide"  %></li>
					<li><%= link_to (image_tag 'logout.gif', alt: 'ログアウト'), "/members/logout"  %></li>
					
				<% end %>

</ul>
</div>
</div></h1>
<% if session[:id].blank? %>
	<% else %>
<div class="menu">
	<p><%= link_to (image_tag 'mypage.gif', alt: 'マイページ', class: 'button'), "/collections"  %></p>
	<p><%= link_to (image_tag 'profile.gif', alt: 'プロフィール', class: 'button'), "/members/show"  %></p>
	<p><%= link_to (image_tag 'exchange_all.gif', alt: '交換一覧', class: 'button'), "/collections/list"  %></p>
	<p><%= link_to (image_tag session[:message] ? 'notice_new.gif' : 'notice.gif', alt: '会員向け告知', class: 'button'), "/messages/"  %></p>
</div>
<% end %>
<!--/ #header--></div>

<div id="main">
<%= link_to  (image_tag 'hondana_top.jpg', alt: 'Google Playへ Androidアプリ「ホンダナ」はこちら',id:'top'), "https://play.google.com/store/apps/details?id=com.books.hondana"  %>
<div class="newsE">
<span class="news_t">News!</span>
<div class="contentsbox">
<ul>
<li><span class="date">2016.11.15</span>ホンダナはWebからアプリへ移行いたします。<%= link_to "ただいま無料で会員登録できます", "https://play.google.com/store/apps/details?id=com.books.hondana"  %>　iPhoneアプリも作成中!</li>
<li><span class="date">2016.10.13</span><%= link_to "「ホンダナ」Androidアプリをリリース!バーコードで本の登録が簡単に!", "https://play.google.com/store/apps/details?id=com.books.hondana"  %></li>
  
  </ul>
</div>
</div>
		<h3>新着の本　　<%= link_to "→もっと見る", "/books/list"  %></h3>
	<div class="top_new_books">
		<%= render "/books/list" %>
	</div>
</div>
<div class="magazine">
<%= link_to (image_tag 'magazine_banner.jpg', alt: 'ホンダナマガジン'), "/magazine"  %>
</div>
<div id="footer">
		<ul class="menu">
		<li  class="first"><%= link_to "僕らがホンダナをする理由", "/information/vision"  %></li>
    <li><%= link_to "使いかた", "/information/guide"  %></li>
		<li><%= link_to "よくある質問", "/information/faq"  %></li>
		<li><%= link_to "プライバシーポリシー", "/information/privacy"  %></li>
		<li><%= link_to "利用規約", "/information/term"  %></li>
		<li><%= link_to "運営会社", "/information/aboutus"  %></li>
		<li><%= link_to "お問い合わせ", "/information/inquiry"  %></li>
　　　　　　</ul>
</body>
</html>