<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ホンダナ</title>
	<link href="/stylesheets/top.css" media="all" rel="stylesheet" />
	<link href="/stylesheets/jquery.bxslider.css" media="all" rel="stylesheet" />
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery.bxslider.js"></script>
	<script src="/javascripts/top.js"></script>
	<%= csrf_meta_tags %>
</head>

<body>


<div id="header">
<h1><%= link_to (image_tag 'logo.gif', alt: 'ホンダナトップページへ'), "/books/list"  %>
<div id="menu">
<div id="searchform">
			<%= form_tag({controller: :books, action: :search}, method: :get) do %>
		    	<%= text_field_tag :keyword, session[:keyword], size: "15", maxlength: "20", placeholder: "著者名・キーワードで検索" %>
			    <%= image_submit_tag("search.png",id:'searchBtn') %>
				<%= link_to "詳細検索", "/books/search_edit" ,id:'search' %>
			<% end %>
			<script>
		</div>


<div id="globalnavi">
<ul>
<li><%= link_to  (image_tag 'howto.gif', alt: '使いかた'), "/information/guide"  %></li>
<li><%= link_to  (image_tag 'member.gif', alt: '会員登録'), "/members/new"  %></li>
<li><%= link_to (image_tag 'login.gif', alt: 'ログイン'), "/members/login"  %></li>
</ul>
</div>
</div></h1>


<!--/ #header--></div>

<div id="main">
<div class="example">
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/1OmIbXJ1PHk?rel=0&wmode=transparent" frameborder="0" allowfullscreen class="example">サービス紹介</iframe></p>

<h2>日本中の本棚に眠る本たちに<br />
活躍の場を!</h2>

<p align="center">ホンダナはあなたの交換しても良い蔵書を<br />
必要とする方の元へと送り出すサービスです。</p>
<div id="searchform">
			<%= form_tag({controller: :books, action: :search}, method: :get) do %>
		    	<%= text_field_tag :keyword, session[:keyword], size: "15", maxlength: "20", placeholder: "著者名・キーワードで検索" %>
			    <%= image_submit_tag("search.png",id:'searchBtn') %>
			<% end %>
		</div>

<p align="center"><%= link_to  (image_tag 'member.png', alt: '会員登録'), "/members/new"  %></p>
<p class="clearRight"></p>

</div>

<div id="news">
<div class="news_title">お知らせ</div>
	<div class="news">
	<% if @notices.blank? %>
		<p>お知らせはありません。</p>
	<% else %>
		<% @notices.each do |notice| %>
			<p>
				<time><%= format_datetime notice.notice_date, :date %></time>
				<span><%= notice.content %></span>
			</p>
		<% end %>
	<% end %>
</div>
</div>
<h3>おすすめの本棚</h3>
<div class="size">
<ul class="bxslider">
  <li><%= link_to  (image_tag 'tokushu.jpg', alt: '特集',id:'topic'), "/information/guide"  %></li>
  <li><%= link_to  (image_tag 'tokushu.jpg', alt: '特集',id:'topic'), "/information/guide"  %></li>
  <li><%= link_to  (image_tag 'tokushu.jpg', alt: '特集',id:'topic'), "/information/guide"  %></li>
</ul>
</div>
	<h3>新登録された本</h3>
<div class="new_books">
	<%= render "/books/list" %>
</div>
</div>
<p class="clearLeft"></p>

<div id="footer">
		<ul class="menu">
		<li  class="first"><%= link_to "使いかた", "/information/guide"  %></li>
		<li><%= link_to "よくある質問", "/information/term"  %></li>
		<li><%= link_to "プライバシー", "/information/term"  %></li>
		<li><%= link_to "利用規約", "/information/term"  %></li>
		<li><%= link_to "運営会社", "/information/aboutus"  %></li>
		<li><%= link_to "お問い合わせ", "/information/inquiry"  %></li>
　　　　　　</ul>
</div>

<!--
<div id="head">
	<h1>
		<%= link_to (image_tag 'logo.gif', alt: 'トップページへ'), "/books/list"  %>
	</h1>
	<div id="navigate">
		<p class="button"><%= link_to (image_tag 'this_is_ico.png', alt: 'このサイトについて'), "/information/aboutthis"  %></p>
		<div id="welcome" class="right">
			<p>
				<%= link_to "新規会員登録", "/members/new"  %> | <%= link_to "ログイン", "/members/login"  %>
			</p>
		</div>
		<div id="search" class="right">
			<%= form_tag({controller: :books, action: :search}, method: :get) do %>
		    	<%= text_field_tag :keyword, session[:keyword], size: "15", maxlength: "20", placeholder: "本の検索・登録・交換をする場合はこちらから" %>
			    <%= submit_tag "検索" %>
				<%= link_to "詳細検索", "/books/search_edit"  %>
			<% end %>
		</div>
	</div>
</div>
-->
</body>
</html>