<%= form_for(@book, html: {multipart: true}) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: "required" %><br>
    <p>
    	<%= f.text_field :title, size: 30 %>
    </p>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <p>
    	<%= f.text_field :publisher %>
    </p>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <p>
	    <%= f.text_field :author, size: 30 %> 複数の場合はカンマ(,)区切り
    </p>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <p>
    	<%= f.text_field :language, size: 5, value: "日本語" %>
    </p>
  </div>
  <div class="field">
    <%= f.label :sale_date %><br>
    <p>
	    <%= f.text_field :sale_date, size: 10 %> (例: 2010/4/25)
    </p>
  </div>
  <div class="field">
  	<label>サイズ</label>
    <p>
	    <%= f.label :height %>
    	<%= f.text_field :height, size: 5 %> cm ×
	    <%= f.label :width %>
	    <%= f.text_field :width, size: 5 %> cm ×
	    <%= f.label :depth %>
    	<%= f.text_field :depth, size: 5 %> cm
    </p>
  </div>
  <div class="field">
    <%= f.label :isbn %><br>
    <p>
	    978- <%= f.text_field :isbn, size: 10 %> 数字10桁
    </p>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <p>
    	<%= f.text_area :description, cols: 40, rows: 4 %>
    </p>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <p>
	    <%= f.file_field :data %>
    </p>
  </div>
  <div class="field">
    <%= f.submit "登録確認" %>
  </div>
<% end %>
