<div class="book_img center">
  <div class="field">
  	<% if @book.id %>
	<%= image_tag "/books/show_image/" + @book.isbn, alt: @book.title %>
	<% else %>
	<%= image_tag @book.image_url, alt: @book.title %>
	<% end %>
  </div>
<% if @display_favorite.present? && session[:id] != nil %>
	<% if @favorite == nil %>
		<%= form_tag({controller: :books, action: :favorite}) do %>
			<%= hidden_field_tag :id, @book.id %>
			<%= submit_tag "お気に入りに追加" %>
		<% end %>
	<% else %>
		<span class="strong warn">お気に入りに登録済み</span>
	<% end %>
<% end %>
</div>
<div class="book">
  <div class="field">
    <%= label_tag :title, "書名" %>
    <p>
    	<%= @book.title %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :author, "著者名" %>
    <p>
    	<%= @book.author %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :publisher, "出版社" %>
    <p>
    	<%= @book.publisher %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :language, "言語" %>
    <p>
    	<%= @book.language %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :sale_date, "発売日" %>
    <p>
    	<%= @book.sale_date %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :isbn, "ISBNコード" %>
    <p>
    	<%= @book.isbn %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :description, "内容" %>
    <p>
    	<%= @book.description %>
    </p>
  </div>

</div>
