<h1>書籍一覧</h1><% @title = "書籍一覧" %>

<p><%= link_to '新規登録', new_book_path %> | <%= link_to "戻る", "/information/admin" %></p>

<%= render 'list' %>
<%= will_paginate @books, previous_label: '←前へ', next_label: '次へ→' %>

<p><%= link_to '新規登録', new_book_path %> | <%= link_to "戻る", "/information/admin" %></p>

<% session[:return_path] = Array[request.fullpath] %>
