<% @title = "本の検索結果" %>

<h1>ホンダナの検索結果</h1>
<% unless @notice.blank? %>
	<p><%= @notice %></p>
<% end %>
<% if !@keyword.blank? || @title_keyword.nil? %>
	<p>検索キーワード： <%= @keyword %></p>
<% else %>
	<p>
		検索キーワード(書名)： <%= @title_keyword %><br>
		検索キーワード(著者名)： <%= @author_keyword %><br>
		検索キーワード(出版社)： <%= @publisher_keyword %><br>
		検索キーワード(ISBN)： <%= @isbn_keyword %>
	</p>
<% end %>
<% if @notice.blank? %>
	<%= render 'list' %>
<% end %>

<h1>楽天ブックスでの検索結果</h1>
<% unless @notice.blank? %>
	<p><%= @notice %></p>
<% end %>
<% if !@keyword.blank? || @title_keyword.nil? %>
	<p>検索キーワード： <%= @keyword %></p>
<% else %>
	<p>
		検索キーワード(書名)： <%= @title_keyword %><br>
		検索キーワード(著者名)： <%= @author_keyword %><br>
		検索キーワード(出版社)： <%= @publisher_keyword %><br>
		検索キーワード(ISBN)： <%= @isbn_keyword %>
	</p>
<% end %>
<% if @notice.blank? %>
 	<% if @json_author_data.blank? && @json_title_data.blank? %>
	<p>本が見つかりませんでした(検索キーワードは2文字以上です)。</p>
	<% else %>
		<p>ホンダナに登録されている本(同じISBNコードの本)は表示しません。</p>
	 	<% index = 0 %>
		<% closing = true %>
		<% if !@json_title_data.blank? && !@json_title_data['Items'].blank? %>
			<% @json_title_data['Items'].each do |item| %>
				<% if !@isbns.include? item['Item']['isbn'] %>
					<% if index % 5 == 0 %>
						<div class="booklist_wide">
						<% closing = false %>
					<% end %>
						<div>
							<%= link_to (image_tag item['Item']['mediumImageUrl'], alt: item['Item']['title']), "/collections/new?isbn=" + item['Item']['isbn'] %><br>
							<%= link_to item['Item']['title'], "/collections/new?isbn=" + item['Item']['isbn'] %><br>
							<span class="small"><%= item['Item']['author'] %></span>
						</div>
					<% if index % 5 == 4 %>
						</div>
						<% closing = true %>
					<% end %>
					<% index = index + 1 %>
					<% @isbns.push item['Item']['isbn'] %>
				<% end %>
			<% end %>
		<% end %>
		<% if !@json_author_data.blank? && !@json_author_data['Items'].blank? %>
			<% @json_author_data['Items'].each do |item| %>
				<% if !@isbns.include? item['Item']['isbn'] %>
					<% if index % 5 == 0 %>
						<div class="booklist_wide">
						<% closing = false %>
					<% end %>
						<div>
							<%= link_to (image_tag item['Item']['mediumImageUrl'], alt: item['Item']['title']), "/collections/new?isbn=" + item['Item']['isbn'] %><br>
							<%= link_to item['Item']['title'], "/collections/new?isbn=" + item['Item']['isbn'] %><br>
							<span class="small"><%= item['Item']['author'] %></span>
						</div>
					<% if index % 5 == 4 %>
						</div>
						<% closing = true %>
					<% end %>
					<% index = index + 1 %>
				<% end %>
			<% end %>
		<% end %>
		<% unless closing %>
			</div>
		<% end %>
	<% end %>
<% end %>
