<h1>本の情報</h1><% @title = "本の情報" %>
<p id="notice"><%= notice %></p>

<% @display_favorite = true %>
<%= render "show" %>

<p>
<%= link_to '本を申請する', "/collections/member_list?id=" + @book.id.to_s %> |
<%= link_to 'ホンダナに登録する', "/collections/new?id=" + @book.id.to_s %>
<% if session[:login_id] == "spica" %>
	| <%= link_to '編集', edit_book_path(@book) %>
<% end %>
<%= link_back true %>
</p>

<%
	if session[:return_path].blank?
	  session[:return_path] = Array.new(request.fullpath)
	elsif session[:return_path].present? && session[:return_path].last.start_with?("/books/") && !session[:return_path].last.start_with?("/books/search")
	else
	  session[:return_path].push(request.fullpath)
	end
%>
