<h1>本の情報</h1><% @title = "本の情報" %>
<p id="notice"><%= notice %></p>

<div class="book_img center">
	<p>
		<%= image_tag "/books/show_image/" + @book.isbn, alt: @book.title %>
	</p>
<% if session[:id] != nil %>
	<% if @favorite == nil %>
		<%= form_tag({controller: :books, action: :favorite}) do %>
			<%= hidden_field_tag :id, @book.id %>
			<%= submit_tag "お気に入りに追加" %>
		<% end %>
	<% else %>
		<span class="strong warn">お気に入りに登録済み</span>
	<% end %>
<% end %>
</div>
<div class="book">
  <div class="field">
    <label>書名</label>
    <p>
    	<%= @book.title %>
    </p>
  </div>
  <div class="field">
    <label>出版社</label>
    <p>
    	<%= @book.publisher %>
    </p>
  </div>
  <div class="field">
    <label>著者名</label>
    <p>
    	<%= @book.author %>
    </p>
  </div>
  <div class="field">
    <label>言語</label>
    <p>
    	<%= @book.language %>
    </p>
  </div>
  <div class="field">
    <label>発売日</label>
    <p>
    	<%= @book.sale_date %>
    </p>
  </div>
  <div class="field">
    <label>ISBN</label>
    <p>
    	<%= @book.isbn %>
    </p>
  </div>
  <div class="field">
    <label>内容</label>
    <p>
    	<%= @book.description %>
    </p>
  </div>
</div>

<p>
<%= link_to '交換申請する', "/collections/member_list?id=" + @book.id.to_s %> |
<%= link_to 'ホンダナに登録する', "/collections/new?id=" + @book.id.to_s %>
<% if session[:login_id] == "spica" %>
	| <%= link_to '編集', edit_book_path(@book) %>
<% end %>
<%= link_back true %>
</p>

<%
	if session[:return_path].blank?
	  session[:return_path] = Array.new(request.fullpath)
	elsif session[:return_path].present? && session[:return_path].last.start_with?("/books/")
	else
	  session[:return_path].push(request.fullpath)
	end
%>
