<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @book.member %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @book.sale_date %>
</p>

<p>
  <strong>Height:</strong>
  <%= @book.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @book.width %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @book.depth %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag "/books/show_image/" + @book.isbn, alt: @book.title %>
</p>

<p>
  <strong>Delete flg:</strong>
  <%= @book.delete_flg %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
