<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ホンダナ<%= @title ? " | " + @title : "" %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>

<body>

<div id="header">
<h1><%= link_to (image_tag 'logo.gif', alt: 'ホンダナトップページへ'), "/"  %>
<div id="menu">
<div id="searchform">
			<%= form_tag({controller: :books, action: :search}, method: :get) do %>
		    	<%= text_field_tag :keyword, session[:keyword], size: "15", maxlength: "20", placeholder: "著者名・キーワードで検索" %>
			    <%= image_submit_tag("search.png",id:'searchBtn') %>
				<%= link_to "詳細検索", "/books/search_edit" ,id:'search' %>
			<% end %>
		</div>

<div id="globalnavi">
<ul>
<% if session[:id].blank? %>
<li><%= link_to  (image_tag 'howto.gif', alt: '使いかた'), "/information/guide"  %></li>
<li><%= link_to  (image_tag 'member.gif', alt: '会員登録'), "/members/new"  %></li>
<li><%= link_to (image_tag 'login.gif', alt: 'ログイン'), "/members/login"  %></li>
					<% else %>
					<li class="welcome">ようこそ <span class="strong"><%= session[:nickname] %></span> さん
					現在 <span class="strong"><%= session[:point] %></span> ブク</li>

					<li><%= link_to  (image_tag 'howto.gif', alt: '使いかた'), "/information/guide"  %></li>
					<li><%= link_to (image_tag 'logout.gif', alt: 'ログアウト'), "/members/logout"  %></li>
					<% if session[:login_id] == "spica" %>
					<li class="kanri"><%= link_to "[管理者メニュー]", "/information/admin"  %></li>
					<% end %>
				<% end %>

</ul>
</div>
</div></h1>

<div class="menu">
	<p><%= link_to (image_tag 'mypage.gif', alt: 'マイページ', class: 'button'), "/collections"  %></p>
	<p><%= link_to (image_tag 'profile.gif', alt: 'プロフィール', class: 'button'), "/members/show"  %></p>
	<p><%= link_to (image_tag 'exchange_all.gif', alt: '交換一覧', class: 'button'), "/collections/list"  %></p>
	<p><%= link_to (image_tag session[:message] ? 'notice_new.gif' : 'notice.gif', alt: '会員向け告知', class: 'button'), "/messages/"  %></p>
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--/ #header--></div>
<div id="main">
<%= yield %>
</div>

<div id="footer">
		<ul class="menu">
		<li  class="first"><%= link_to "使いかた", "/information/guide"  %></li>
		<li><%= link_to "よくある質問", "/information/faq"  %></li>
		<li><%= link_to "プライバシーポリシー", "/information/privacy"  %></li>
		<li><%= link_to "利用規約", "/information/term"  %></li>
		<li><%= link_to "運営会社", "/information/aboutus"  %></li>
		<li><%= link_to "お問い合わせ", "/information/inquiry"  %></li>
　　　　　　</ul>
<div class="fb-like" data-href="https://www.facebook.com/HondanaBooks" data-layout="button_count"data-send='false' data-show-faces='false' data-width='90'></div>
<a class='twitter-share-button' data-lang='locale' data-text='本の交換Webサービス ホンダナ #hondana' data-url='http://hondana-books.com/' href='https://twitter.com/share'></a>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
</div>

<!--
<div id="head">
	<h1>
		<%= link_to (image_tag 'logo.gif', alt: 'トップページへ'), "/books/list"  %>
	</h1>
	<div id="navigate">
		<p class="button"><%= link_to (image_tag 'this_is_ico.png', alt: 'このサイトについて'), "/information/aboutthis"  %></p>
		<div id="welcome" class="right">
			<p>
				<%= link_to "新規会員登録", "/members/new"  %> | <%= link_to "ログイン", "/members/login"  %>
			</p>
		</div>
		<div id="search" class="right">
			<%= form_tag({controller: :books, action: :search}, method: :get) do %>
		    	<%= text_field_tag :keyword, session[:keyword], size: "15", maxlength: "20", placeholder: "本の検索・登録・交換をする場合はこちらから" %>
			    <%= submit_tag "検索" %>
				<%= link_to "詳細検索", "/books/search_edit"  %>
			<% end %>
		</div>
	</div>
</div>
-->
</body>
</html>