<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ホンダナ<%= @title ? " | " + @title : "" %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>

<body>
<div id="head">
	<h1>
		<%= link_to (image_tag 'title_ico.png', alt: 'トップページへ'), root_path  %>
	</h1>
	<div id="navigate">
		<p class="button"><a href=""><%= image_tag 'mypage_ico.png', alt: 'マイページへ' %></a></p>
		<p class="button"><%= link_to (image_tag 'this_is_ico.png', alt: 'このサイトについて'), "/information/aboutthis"  %></p>
		<div id="welcome" class="right">
			<p>
				<% if session[:id].blank? %>
					<%= link_to "新規会員登録", "/members/new"  %> | <%= link_to "ログイン", "/members/login"  %>
				<% else %>
					ようこそ <span class="strong"><%= session[:nickname] %></span> さん<br />
					現在 <span class="strong"><%= session[:point] %></span> ブク
					| <%= link_to "管理者", "/information/admin"  %>
					| <%= link_to "ログアウト", "/members/logout"  %>
				<% end %>
			</p>
		</div>
		<div id="search" class="right">
			<p>
				<input type="text" id="search_box" name="search_box" placeholder="本の検索・登録・交換をする場合はこちらから" />
				<input type="submit" id="search_btn" name="search_btn" class="search_btn" value="検索" />
				<a href="">詳細検索</a>
			</p>
		</div>
	</div>
</div>

<div id="menu">
	<p><%= link_to (image_tag 'profile_ico.png', alt: 'プロフィール', class: 'button'), "/members/show"  %></p>
	<p><a href=""><%= image_tag 'exchange_all_ico.png', alt: '交換一覧', class: 'button' %></a></p>
	<p><a href=""><%= image_tag 'notice_ico.png', alt: '会員向け告知', class: 'button' %></a></p>
</div>

<div id="main">
<%= yield %>
</div>

<div id="footer">
	<div>
		<h1><%= image_tag 'about_this_ico.png', alt: 'ABOUT ホンダナ' %></h1>
		<p><%= link_to "利用ガイド", "/information/guide"  %></p>
		<p><%= link_to "料金", "/information/fee"  %></p>
		<p><%= link_to "お問い合わせ", "/information/inquiry"  %></p>
		<p><%= link_to "利用規約", "/information/term"  %></p>
	</div>
	<div>
		<h1><%= image_tag 'about_us_ico.png', alt: 'ABOUT US' %></h1>
		<p><%= link_to "会社概要", "/information/aboutus"  %></p>
	</div>
	<div>
		<h1><%= image_tag 'media_ico.png', alt: 'メディア' %></h1>
		<p><%= link_to "ブログ", "http://spica-travel.com/blog/", target: "blank" %></p>
		<p><%= link_to "メディア掲載情報", "/information/media"  %></p>
	</div>
</div>
</body>
</html>
