<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ホンダナ</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="head">
	<h1>
		<a href=""><%= image_tag 'title_ico.png', alt: 'トップページへ' %></a>
	</h1>
	<div id="navigate">
		<p class="button"><a href=""><%= image_tag 'mypage_ico.png', alt: 'マイページへ' %></a></p>
		<p class="button"><a href=""><%= image_tag 'this_is_ico.png', alt: 'このサイトについて' %></a></p>
		<div id="welcome" class="right">
			<p><%= link_to "新規登録", new_member_path  %> | <a href="">ログイン</a></p>
			<!-- p>ようこそ <span class="strong">ふじい</span> さん</p>
			<p>現在 <span class="strong">14</span> ブク | <a href="">ログアウト</a></p -->
		</div>
		<div id="search" class="right">
			<p>
				<input type="text" id="search_box" name="search_box" placeholder="本の検索・登録・交換をする場合はこちらから" />
				<input type="submit" id="search_btn" name="search_btn" class="search_btn" value="検索" />
				<a href="">詳細検索</a>
			</p>
		</div>
	</div>
</div>

<div id="menu">
	<p><a href=""><%= image_tag 'profile_ico.png', alt: 'プロフィール', class: 'button' %></a></p>
	<p><a href=""><%= image_tag 'exchange_all_ico.png', alt: '交換一覧', class: 'button' %></a></p>
	<p><a href=""><%= image_tag 'notice_ico.png', alt: '会員向け告知', class: 'button' %></a></p>
</div>

<div id="main">
<%= yield %>
</div>

<div id="footer">
	<div>
		<h1><%= image_tag 'about_this_ico.png', alt: 'ABOUT ホンダナ' %></h1>
		<p><a href="../../../../information/guide/">利用ガイド</a></p>
		<p><a href="../../../../information/fee/">料金</a></p>
		<p><a href="../../../../support/inquiry/">お問い合わせ</a></p>
		<p><a href="../../../../information/terms/">利用規約</a></p>
	</div>
	<div>
		<h1><%= image_tag 'about_us_ico.png', alt: 'ABOUT US' %></h1>
		<p><a href="../../../../information/outline/corporation/">会社概要</a></p>
	</div>
	<div>
		<h1><%= image_tag 'media_ico.png', alt: 'メディア' %></h1>
		<p><a href="http://spica-travel.com/blog/" target="_blank">ブログ</a></p>
		<p><a href="../../../../information/news/">メディア掲載情報</a></p>
	</div>
</div>
</body>
</html>
