<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <p>入力エラーです。以下を確認してください(パスワードは再度入力してください)。</p>
      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li class="warn"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login_id, class: "required" %>
    <p>
    	<%= f.text_field :login_id, size: 15, maxlength: 20 %> アルファベット・数字 4～20字
    </p>
  </div>
  <div class="field">
    <%= f.label :password, class: "required" %>
    <p>
    	<%= f.password_field :password, size: 15, maxlength: 20 %> アルファベット・数字 8～20字
    </p>
    <p>
    	<%= f.password_field :password_confirmation, size: 15, maxlength: 20 %> (確認入力)
    </p>
  </div>
  <div class="field">
    <%= f.label :nickname, class: "required" %>
    <p>
    	<%= f.text_field :nickname, size: 15 %> サイト上で表示される名前です
    </p>
  </div>
  <div class="field">
    <%= f.label :name, class: "required" %>
    <p>
    	<%= f.text_field :name, size: 15 %> 本の送付時に必要です
    </p>
  </div>
  <div class="field">
    <%= f.label :kana %><br>
    <p>
    	<%= f.text_field :kana, size: 20 %>
    </p>
  </div>
  <div class="field">
    <%= f.label :address, class: "required" %>
    <p>
    	<%= f.text_field :address, size: 30 %> 本の送付時に必要です
    </p>
  </div>
  <div class="field">
    <%= f.label :mail_address, size: 25, class: "required" %>
    <p>
    	<%= f.text_field :mail_address %> パスワード再発行などの連絡時に必要です
    </p>
  </div>
  <div class="field">
    <%= f.label :birthday, "誕生日" %><br>
    <p>
    	<%= f.date_select :birthday, use_month_numbers: true, start_year: 1920, end_year: Time.now.year, default: Date.new(1980, 1, 1) %>
    </p>
  </div>
  <div class="field">
    <%= f.label :favorite_author, "好きな作家" %>
    <p>
	    <%= f.text_field :favorite_author1, size: 10 %>
	    <%= f.text_field :favorite_author2, size: 10 %>
	    <%= f.text_field :favorite_author3, size: 10 %>
    </p>
  </div>
  <div class="field">
    <%= f.label :interests, "好きなジャンル" %>
  </div>
  <div class="field">
    <%= f.check_box :agreement %>
    <%= f.label :agreement, "利用規約に同意する" %>
  </div>
  <pre id="term"><%= File.read("./app/assets/term.txt", :encoding => Encoding::UTF_8) %></pre>
  <div class="field">
    <!-- %= f.submit value: "登録", disabled: "disabled" %-->
    <%= f.submit value: "登録" %>
    <input type="reset" value="リセット" />
  </div>
<% end %>
