<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@member.errors.count, "error") %> 件のエラーが発生しました。</p>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login_id, "ログインID" %><br>
    <p><%= f.text_field :login_id, size: 15, maxlength: 20 %> アルファベット・数字 20字以内</p>
  </div>
  <div class="field">
    <%= f.label :password, "パスワード" %><br>
    <p>
    	<%= f.password_field :password, size: 15, maxlength: 20 %> アルファベット・数字 8～20字<br>
    	<%= f.password_field :re_password, size: 15, maxlength: 20 %> 確認のため再入力してください
    </p>
  </div>
  <div class="field">
    <%= f.label :nickname, "ニックネーム" %><br>
    <p><%= f.text_field :nickname, size: 15 %> サイト上で表示される名前です</p>
  </div>
  <div class="field">
    <%= f.label :name, "氏名" %><br>
    <p><%= f.text_field :name, size: 15 %> 本の送付先宛名になります</p>
  </div>
  <div class="field">
    <%= f.label :kana, "氏名カナ" %><br>
    <p><%= f.text_field :kana, size: 20 %></p>
  </div>
  <div class="field">
    <%= f.label :address, "住所" %><br>
    <p><%= f.text_field :address, size: 30 %> 本の送付先住所になります</p>
  </div>
  <div class="field">
    <%= f.label :mail_address, "メールアドレス" %><br>
    <p><%= f.text_field :mail_address %> パスワード再発行などの連絡先です</p>
  </div>
  <div class="field">
    <%= f.label :birthday, "誕生日" %><br>
    <p><%= f.date_select :birthday, use_month_numbers: true %></p>
  </div>
  <div class="field">
    <%= f.label :favorite_author, "好きな作家" %><br>
    <p>
	    <%= f.text_field :favorite_author1, size: 10 %>
	    <%= f.text_field :favorite_author2, size: 10 %>
	    <%= f.text_field :favorite_author3, size: 10 %>
    </p>
  </div>
  <div class="field">
    <%= f.submit value: "登録" %>
  </div>
<% end %>
