<% if @notice.present? %>
	<h1>エラー</h1><% @title = "エラー" %>
	<p><%= @notice %></p>
<% else %>

	<h1>パスワード再設定</h1><% @title = "パスワード再設定" %>

	<%= form_tag({controller: :members, action: :reset_password}) do %>
	  <% if @member.errors.any? %>
	    <div id="error_explanation">
	      <p>入力エラーです。以下を確認してください。</p>
	      <ul>
	      <% @member.errors.full_messages.each do |msg| %>
	        <li class="warn"><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= label_tag :password, "新しいパスワード" %>
	    <p>
	    	<%= password_field_tag :password, "", size: 15, maxlength: 20 %> アルファベット・数字 8～20字
	    </p>
	    <p>
	    	<%= password_field_tag :password_confirmation, "", size: 15, maxlength: 20 %> (確認入力)
	    </p>
	  </div>
	  <div class="field">
	    <%= submit_tag "パスワード設定" %>
	  </div>
	<% end %>

<% end %>
