<h1>会員一覧</h1>

<table class="list">
  <thead>
    <tr>
      <th>ログインID</th>
      <th>ニックネーム</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ブク</th>
      <th class="center">詳細</th>
      <th class="center">編集</th>
      <th class="center">削除</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.login_id %></td>
        <td><%= member.nickname %></td>
        <td><%= member.name %></td>
        <td><%= member.mail_address %></td>
        <td class="right"><%= member.point %></td>
        <td class="center"><%= link_to '詳細', member %></td>
        <td class="center"><%= link_to '編集', edit_member_path(member) %></td>
        <td class="center"><%= link_to '削除', member, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to '新規会員登録', new_member_path %></p>
