<h1>プロフィール</h1><% @title = "プロフィール" %>

  <div class="field">
    <label>ログインID</label>
    <p>
    	<%= @member.login_id %>
    	(ニックネーム: <%= @member.nickname %>)
    </p>
  </div>
  <div class="field">
    <label>氏名</label>
    <p>
    	<%= @member.name %>
    	<% unless @member.kana.blank? %>
    	(<%= @member.kana %>)
    	<% end %>
    </p>
  </div>
  <div class="field">
    <label>住所</label>
    <p>
    	<%= @member.address %>
    </p>
  </div>
  <div class="field">
    <label>メールアドレス</label>
    <p>
    	<%= @member.mail_address %>
    </p>
  </div>
  <div class="field">
    <label>誕生日</label>
    <p>
    	<%= format_datetime @member.birthday, :date %>
    </p>
  </div>
  <div class="field">
    <label>好きな作家</label>
    <p>
    	<%= @member.favorite_author1 %>
    	<%= @member.favorite_author2 %>
    	<%= @member.favorite_author3 %>
    </p>
  </div>
  <div class="field">
    <label>好きなジャンル</label>
    <p>
    </p>
  </div>

<p>
	<%= link_to "プロフィール変更", "/members/edit"  %><br />
	<%= link_to "パスワード変更", "/members/edit_password"  %><br />
	<%= link_to "退会", "/members/exit" %>
</p>
